.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.input_checkbox {
  background-color: #17d712;
  width: 20px;
  height: 30px;
  margin-right: 10px;
}

.subtotal_gift {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subtotal > small {
  display: flex;
}

.subtotal > p {
  font-size: 18px;
}

.subtotal > button {
  background-color: #17d712;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: blue;
  color: black;
  color: #fff;
}

.subtotal > button:hover {
  cursor: pointer;
  background-color: #778899;
}

@media (max-width: 600px) {
  .input_checkbox {
    background-color: #17d712;
    width: 30px;
    height: 20px;
  }

  .subtotal > p {
    font-size: 12px;
  }

  .subtotal > button {
    padding: 2px;
    font-size: 12px;
  }
}
