html {
  scroll-behavior: smooth;
  background-color: rgba(234, 237, 237);
}

::-webkit-scrollbar {
  width: 14px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff30);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}

.checkout_image {
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  object-fit: cover;
  height: 400px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.container {
  display: flex;
  color: black;
  background-color: transparent;
  height: auto;
  margin-left: 60px;
}

.basket_cart {
  height: 100px;
  margin-left: 0px;
  margin-bottom: 70px;
  height: auto;
  background-color: white;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 50px;
  flex: 4;
  margin-right: 20px;
}

.checkout_title {
  color: black;
}

.checkout_right {
  margin-top: 0px;
  margin-bottom: 70px;
  margin-left: 0px;
  color: black;
  height: 250px;
  background-color: white;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  flex: 2;
  margin-right: 10px;
}

.amount_heading {
  color: #30ff30;
}

/* ************************************************************* */

// Checkout_Product

.CheckProduct {
  display: flex;
  // margin-top: 20px;
  // margin-bottom: 20px;
  justify-content: flex-start;
}

.check-image {
  object-fit: contain;
  height: 180px;
  width: 180px;
}

.checkProduct_title {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 600;
}

.checkProduct_info > button {
  background-color: #30ff30;
  border-radius: 8px;
  // margin-top: 20px;
  border: 1px solid;
  color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px;
  // text-align: left;
  // flex-direction: ;
  justify-content: flex-start;
}

.checkProduct_info > button:hover {
  cursor: pointer;
  background-color: #778899;
}

.checkProduct_rating {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}

.checkProduct_price {
  padding-left: 10px;
}

@media (max-width: 600px) {
  .container {
    // top: 100px;
    // position: absolute;
    display: flex;
    color: black;
    background-color: transparent;
    height: auto;
    // width: 1154px;
    margin-left: 10px;
    // justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .basket_cart {
    height: 100px;
    // margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 70px;
    height: auto;
    // width: 700px;
    background-color: white;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 50px;
  }
}

@media (min-width: 600px) and (max-width: 1080px) {
  .container {
    // top: 100px;
    // position: absolute;
    display: flex;
    color: black;
    background-color: transparent;
    height: auto;
    // width: 1154px;
    margin-left: 10px;
    // justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
